@model ProjBank.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/Home/">Home</a></li>
        <li><a href="/Transactions/"> Transactions </a></li>
        <li class="active">Details</li>
    </ol>

</div>


<div class="container">
    <div class="row">
    <h2>Transaction Details</h2>
    <hr class="colorgraph"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accounts.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accounts.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transactionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
