@model IEnumerable<ProjBank.Models.Account>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container-fluid ">
        <div class="container">
            <div class="row body-content">

                <div class="col-md-12">
                    <div class="row">
                        <br /><br />
                        <span>
                            <a href="/Accounts/Create/" class="btn btn-sm btn-success"> Create New Account</a>
                        </span>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="well" id="blog">
                                <div class="row">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {

                                            

                                                <div class="span3" style="text-align:center">
                                                    <div class="home-post">
                                                        <a href="/Accounts/Details/@item.Id">
                                                            <div class="post-image" style="padding-top:20px;">
                                                                <img class="img-circle img-thumbnail" src="~/Resources/user_icon_account.png" alt="" />
                                                            </div>
                                                            <div class="post-meta">
                                                                @Html.DisplayFor(modelItem => item.name)
                                                                <!--  <span class="date">@Html.DisplayFor(modelItem => item.OpenDate)</span> -->
                                                            </div>
                                                        </a>
                                                            <div class="entry-content">

                                                                @{
                                                                    var totalAmt = item.getTotalAmount + item.interestAccrued;
                                                                    var princ = item.getTotalAmount - item.interestAccrued;
                                                                }

                                                                <h5><strong>Last Transaction : @item.GetLastTransactionDate</strong></h5>
                                                                <!-- <h5><strong>Balance+ : @totalAmt</strong></h5> 
                                                                <h5><strong>Prin- : @princ</strong></h5>-->
                                                                <h5><strong>Total Amount : @item.getTotalAmount</strong></h5>
                                                                <!-- <h6><strong>Interest Earned: @item.interestAccrued</strong></h6> -->

                                                                <div class="bar-chart">

                                                                    <div class="legend">
                                                                        <div class="item">
                                                                            <h4>Principal</h4>
                                                                        </div>
                                                                        <div class="item text-right pull-right">
                                                                            <h4>Interest</h4>
                                                                        </div>
                                                                    </div>


                                                                    <div class="chart clearfix">
                                                                        <div class="item">
                                                                            <div class="bar">
                                                                                <span class="percent" id="interest_accured">@item.interestAccrued</span>

                                                                                <div class="item-progress" data-percent="@totalAmt">
                                                                                    <span class="title" id="principal" data-total-amt="@princ">@princ</span>
                                                                                </div>
                                                                                <!-- //.item-progress -->
                                                                            </div>
                                                                            <!-- //.bar -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br /><br />
                                                                <a href="/Accounts/Edit/@item.Id" class="btn btn-small btn-warning">
                                                                    <i class="fa fa-edit"> </i> Edit
                                                                </a>
                                                                <a href="/Accounts/Details/@item.Id" class="btn btn-small btn-primary">
                                                                    <i class="fa fa-info"> </i> Details
                                                                </a>


                                                                @{
                                                                    if (item.getTotalAmount > 0)
                                                                    {
                                                                        <button class="btn btn-small btn-danger" disabled>
                                                                            <i class="fa fa-trash"> </i> Delete
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/Accounts/Delete/@item.Id" class="btn btn-small btn-danger">
                                                                            <i class="fa fa-trash"> </i> Delete
                                                                        </a>
                                                                    }
                                                                }




                                                            </div>
</div>


                                                </div>
                                            


                                                                                        }
                                                                                    }


                                </div>

                            </div>
                        </div>



                    </div>
                </div>



            </div>
        </div>

    </div>



</body>
</html>

