@model ParentsBankProject.Models.Accounts

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            

                <h2>
                    Account Details
                    <span class="pull-right">
                        <a href="/Accounts/" class="btn btn-theme btn-rounded btn-small">Back to List</a>
                    </span>
                </h2>
                <hr class="colorgraph" />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Owner)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Owner)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Recipient)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Recipient)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.getTotalAmount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.getTotalAmount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OpenDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OpenDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InterestRate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.InterestRate)
                    </dd>

                </dl>
            </div>

            <span class="pull-left">
                <a href="/Accounts/Edit/@Model.Id" class="btn btn-danger btn-flat btn-small">Edit</a>
            </span>
            
            </body>
            </html>
