@model IEnumerable<ParentsBankProject.Models.Accounts>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container-fluid ">
        <div class="container">
            <div class="row body-content">

                <div class="col-md-12">
                    <div class="row">
                        <br /><br />
                        <span>
                            <a href="/Accounts/Create/" class="btn btn-sm btn-success"> Create New Account</a>
                        </span>
                        <span class="pull-right">
                            <a href="/Transactions/Create/" class="btn btn-sm btn-danger"> Create New Transaction</a>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="well" id="blog">

                                <div class="row">

                                    @foreach (var item in Model)
                                    {

                                        <div class="span3" style="text-align:center">
                                            <div class="home-post">
                                                <div class="post-image" style="padding-top:20px;">
                                                   
                                                    <img class="img-circle img-thumbnail" src="~/Resources/user_icon_account.png" alt="" />
                                                </div>
                                                <div class="post-meta">
                                                    @Html.DisplayFor(modelItem => item.Recipient)
                                                  <!--  <span class="date">@Html.DisplayFor(modelItem => item.OpenDate)</span> -->
                                                </div>
                                                <div class="entry-content">
                                                    <h5><strong>Balance : @Html.DisplayFor(modelItem => item.getTotalAmount)</strong></h5>
                                                    <h6><strong>Interest Earned: @Html.DisplayFor(modelItem => item.getTotalAmount)</strong></h6>

                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                                                </div>
                                            </div>
                                        </div>


                                    }



                                </div>

                            </div>
                        </div>



                    </div>
                </div>



            </div>
        </div>
        
    </div>

    
    
</body>
</html>
